.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 150px;
    overflow-y: auto;
    padding: 0.25rem;
}

div {
    font-size: 14px;
}

:root {
    --color-1: #C2A0D9;
    --color-2: #8ABF9C;
    --color-3: #F2D750;
    --color-4: #F2F0E9;
    --color-5: #D95D41;
}

body {
    background-color: var(--color-4);
    font-family: 'Inter', sans-serif;
}

.border-color-purple {
    border-color: var(--color-1);
}

.border-color-green {
    border-color: var(--color-2);
}

.border-color-yellow {
    border-color: var(--color-3);
}

.border-color-red {
    border-color: var(--color-5);
}

.color-1 {
    color: var(--color-1);
}

.color-2 {
    color: var(--color-2);
}

.color-3 {
    color: var(--color-3);
}

.color-4 {
    color: var(--color-4);
}

.color-5 {
    color: var(--color-5);
}

.bg-color-purple {
    background-color: var(--color-1);
}

.bg-color-green {
    background-color: var(--color-2);
}

.bg-color-green-light {
    background-color: rgba(138, 191, 156, 0.4);
}

.bg-color-yellow {
    background-color: var(--color-3);
}

.bg-color-yellow-light {
    background-color: rgba(242, 215, 80, 0.2);
}

.bg-color-red {
    background-color: var(--color-5);
}



.containerDensity {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Styles for radio buttons */
input[type="radio"] {
    display: none;
}

/* Styles for labels resembling big buttons */
label.radio-label {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}


/* Styles for checked labels */
input[type="radio"]:checked + label.radio-label {
    background-color: var(--color-5);
    color: white;
}
#density_plots {
    padding: 3%; 
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; 
    border-radius: 5px;
    transform: rotate(-90deg); /* Rotates the text by 90 degrees */
    transform-origin: bottom; /* Adjust the origin point of rotation */
}

.logo-text {
    background-color: black;
    
    color: white;
    padding: 10px;
    margin-bottom: 10px; /* Adjust margin as needed */
    text-align: center;
}

