.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 150px;
    overflow-y: auto;
}

:root {
    --color-1: #C2A0D9;
    --color-2: #8ABF9C;
    --color-3: #F2D750;
    --color-4: #F2F0E9;
    --color-5: #D95D41;
}

